<section class="navbar-section">
    <div class="pages">
        <a class="page @(ViewBag.ActivePage == "Home" ? "active" : "")" type="button" asp-action="index" asp-controller="home"><i class="fa-regular fa-house"></i></a>
        <a class="page @(ViewBag.ActivePage == "Search" ? "active" : "")" type="button" asp-action="index" asp-controller="search"><i class="fa-regular fa-magnifying-glass"></i></a>
        <a class="page @(ViewBag.ActivePage == "Shop" ? "active" : "")" type="button" asp-action="index" asp-controller="products"><i class="fa-regular fa-bag-shopping"></i></a>
        <a class="page @(ViewBag.ActivePage == "WhisList" ? "active" : "")" type="button" asp-action="index" asp-controller="whisList"><i class="fa-regular fa-heart"></i></a>
        <a class="page @(ViewBag.ActivePage == "Login" ? "active" : "")" type="button" asp-action="index" asp-controller="login"><i class="fa-light fa-user-bounty-hunter"></i></a>

        @*         @if (signInManager.IsSignedIn(User))
        {
            <a class="page @(ViewBag.ActivePage == "Account" ? "active" : "")" type="button" asp-action="index" asp-controller="account"><i class="fa-solid fa-user-bounty-hunter"></i></a>
        }
        else
        {
            <a class="page @(ViewBag.ActivePage == "Login" ? "active" : "")" type="button" asp-action="index" asp-controller="login"><i class="fa-light fa-user-bounty-hunter"></i></a>
        }

        @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
        {
            <a class="page @(ViewBag.ActivePage == "Admin" ? "active" : "")" type="button" asp-action="index" asp-controller="admin"><i class="fa-solid fa-crown"></i></a>
        } *@
    </div>
</section>  