@using Manero.Models.DTO
@using Manero.ViewModels;
@model ProductModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string productName = Model.ProductName;
    if (!string.IsNullOrEmpty(productName))
    {
        // Konverterar första bokstaven till stor bokstav
        productName = char.ToUpper(productName[0]) + productName.Substring(1);
    }
}
<div class="big-card-discount">
    <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@Model.ArticleNumber" class="product-card-big">
        <div class="image-card">

            @if (Model.Images != null)
            {
                @foreach (var image in Model.Images)
                {
                    if (image.IsMainImage == true)
                    {
                        <img src="./assets/images/products/@image.ImageUrl" class="card-img-top d-block" style="width: 100%; height: 200px; object-fit:cover;" alt="image">
                    }

                }
            }
            else
            {
                <div class="image-placeholder"></div>
            }

        </div>
        <div class="card-information">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <span class="star-total">(3)</span>
            </div>
            <h3>@productName</h3>
            @if (Model.CalculatedPrice == null)
            {
                <span class="price-no-discount">$@Model.ProductPrice</span>
            }
            else
            {
                <div class="price-detail">
                    <span class="price">$@Model.ProductPrice</span>
                    <span class="price-discount">$@Model.CalculatedPrice?.ToString("0.00")</span>
                </div>
            }
        </div>
    </a>
    @if (Model.CalculatedPrice == null)
    {
        <div class="no-sale">sale</div>
    }
    else
    {
        <div class="sale-banner">sale</div>
    }
    <div class="card-menu">
        <a class="wish-list" href="#"><i class="fa-thin fa-heart"></i></a>
        <a class="shopping-cart" href="#"><i class="fa-thin fa-bag-shopping"></i></a>
    </div>
</div>



@*<div  class="big-card-discount">
    <a asp-route-id="@Model.ArticleNumber" class="product-card-big">
        <div class="image-card">

            @foreach (var image in Model.Images)
            {
                <img src="./assets/images/products/@image.ImageUrl" class="card-img-top d-block" style="width: 100%; height: 200px;" alt="image">
            }

            @if (Model.Images != null)
            {
                @foreach (var image in Model.Images)
                {
                    <img src="./assets/images/products/@image.ImageUrl" class="card-img-top d-block" style="width: 100%; height: 200px;" alt="image">
                }
            }else
            {
                <div class="image-placeholder"></div>
            }
            @foreach (var category in Model.Categories)
            {
                <div>@category.Category</div>
            }

        </div>
        <div class="card-information">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <span class="star-total">(3)</span>
            </div>
            <h3>@Model.ProductName</h3>
            <div class="price-detail">
                <span class="price">$@Model.ProductPrice</span>
                <span class="price-disscount">$10.78</span>
            </div>
        </div>
    </a>
    <div class="sale-banner">sale</div>
    <div class="card-menu">
        <a class="wish-list" href="#"><i class="fa-thin fa-heart"></i></a>
        <a class="shopping-cart" href="#"><i class="fa-thin fa-bag-shopping"></i></a>
    </div>
</div>*@