@model CreateProductFormViewModel

@{
    ViewData["Title"] = "Backoffice - Create Product";
}

<div class="container d-flex justify-content-center flex-column mt-5 w-75">
    <h2>Create Product</h2>

    <form asp-action="CreateProduct" asp-controller="BackOffice" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="ArticleNumber"></label>
            <input asp-for="ArticleNumber" class="form-control" />
            <span asp-validation-for="ArticleNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductDescription"></label>
            <textarea asp-for="ProductDescription" class="form-control"></textarea>
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductPrice"></label>
            <input asp-for="ProductPrice" class="form-control" />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductDiscount"></label>
            <input asp-for="ProductDiscount" class="form-control" />
            <span asp-validation-for="ProductDiscount" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Images"></label>
            <input multiple type="file" asp-for="Images" class="form-control" />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>

        <div class="image-preview-container"></div>

        <div class="form-group mb-2">
            <h2>Select tags</h2>
            @foreach (var tag in Model.Tags)
            {
                <div class="form-group d-flex">
                    <input name="SelectedTags" value="@tag.Id" class="form-check-input" type="checkbox" />
                    <label class="¨form-check-label">@tag.Tag</label>
                </div>
            }
        </div>

         <div class="form-group mb-2">
             <h2>

            <label asp-for="Categories"></label>
             </h2>
            @foreach (var category in Model.Categories)
            {
                <div class="form-group d-flex">
                    <input name="SelectedCategories" value="@category.Id" class="form-check-input" type="checkbox" />
                    <label class="¨form-check-label">@category.Category</label>
                </div>
            }
            <span asp-validation-for="SelectedCategories" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <h2>

                <label asp-for="Sizes"></label>
            </h2>
            @foreach (var size in Model.Sizes)
            {
                <div class="form-group d-flex">
                    <input name="SelectedSizes" value="@size.Id" class="form-check-input" type="checkbox" />
                    <label class="¨form-check-label">@size.Size</label>
                </div>
            }
            <span asp-validation-for="SelectedSizes" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
