@model BackOfficeViewModel

@{
    ViewData["Title"] = "Manero - Backoffice";
}

<header class="mb-5">
    <div class="container d-flex justify-content-between">
        <a asp-action="Index" asp-controller="Home">Back to Home</a>
        <h4>Manero - Backoffice</h4>
        <a asp-action="CreateProduct" asp-controller="BackOffice">Create Product</a>
    </div>
</header>

<section>
    <div class="container text-center">
        <h3 class="mb-5">All Products</h3>
        <div class="row justify-content-even text-start">
            @if (Model.Products.Any()) 
            {
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card col p-0" style="width: 18rem;">
                            @if (product.Images != null) 
                            {
                                <img src="..." class="card-img-top d-block" style="width: 100%; height: 200px;" alt="...">
                            }
                            else 
                            {
                                <div class="bg-info d-flex justify-content-center align-items-center" style="width: 100%; height: 200px;">
                                    Image Placeholder
                                </div>
                            }
                            <div class="card-body">
                                <h5 class="card-title">@product.ProductName</h5>
                                <div class="d-flex">
                                    <p class="card-text me-2">@product.ProductPrice</p>
                                    <p class="card-text">@product.ProductDiscount %</p>
                                </div>
                                <div class="mb-4 row">
                                    <div class="col">
                                        <button class="btn dropdown-toggle" style="height: 80%; border: 1px solid gray;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Tags
                                        </button>
                                        <ul class="dropdown-menu">
                                            @foreach (var tag in product.Tags) 
                                            {
                                                <li><p class="dropdown-item">@tag.Tag</p></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <button class="btn dropdown-toggle" style="height: 80%; border: 1px solid gray;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Categories
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><p class="dropdown-item">Category</p></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <form class="col me-2" asp-action="DeleteProduct" asp-controller="Backoffice" method="post">
                                        <input type="hidden" name="articleNumber" value="@product.ArticleNumber" />
                                        <button type="submit" class="btn" style="height: 90%; border: 1px solid gray;">Delete</button>
                                    </form>
                                    <form class="col ms-2" asp-action="UpdateProduct" asp-controller="Backoffice" method="post">
                                        <input type="hidden" name="articleNumber" value="@product.ArticleNumber" />
                                        <button type="submit" class="btn" style="height: 90%; border: 1px solid gray;">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else 
            {
                <div class="text-center">
                    <h4 class="text-danger">No Products Found!</h4>
                </div>
            }
        </div>
    </div>
</section>